article.archive-item.archive-item-calendario,
.taxonomy-archive-item-calendario,
body.archive.tag .event-data
{
	border-bottom: 1px solid black;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	align-items: flex-start;
	@include fullwidth;
	span.date {
		font-weight: bold;
	}
	span.lugar {
		display: inline-block;
		//margin-left: 12px;
	}
	a.event-name,
	span.event-name {
		text-decoration: none;
		color: black;
		display: inline-block;
	}

  a.event-name {
    font-weight: bold;
    font-style: oblique;
    &:hover {
      text-decoration: underline;
      font-style: oblique;
    }
  }
}

.taxonomy-archive-item-calendario {
	border: 0;
	.date, .pais_ciudad {
		font-weight: normal !important;
	}
}

body.archive.tag .event-data {
	border-bottom: 0;
}
