.archive-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include respond-to("small-device") {
    display: block;
  }
}

h1.archive-title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 32px;
}

h2.archive-entry-title {
  font-size: 28px;
  max-width: calc(100% - 24px);
  padding: 12px;
  @include respond-to("small-device") {
    font-size: 28px;
  }
  a {
    &:hover {
      text-decoration: underline;
      font-style: oblique;
    }
  }
}

article.archive-item {
  padding: 48px 0;
  width: 300px;
  margin: 12px;

  @include respond-to("medium-device") {
    width: calc(50% - 24px);
  }

  @include respond-to("small-device") {
    padding: 24px 0;
    width: 100%;
    margin: 0;
  }

  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      font-style: oblique;
    }
  }

  &.with-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to("small-device") {
      display: block;
      img {
        width: 100%;
        height: auto;
        margin: 0 0 12px 0;
        object-fit: cover;
      }
    }
  }

  .excerpt {
    line-height: 1.4em;
    margin-bottom: 12px;
  }

  a.archive-item-link {
    &:hover {
      text-decoration: none;
    }
  }
}

.taxonomy-header {
  h1 {
    font-weight: bold;
  }
}

.taxonomy-items {
  .list-taxonomy-items {
    margin-top: 48px;
    @include respond-to("small-device") {
      margin-top: 12px;
    }
  }

  h3 {
    font-weight: bold;
  }

  li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul.archive-items-list {
    padding: 24px;
    border-top: 1px solid black;
    @include fullwidth;
    li {
      margin: 0;
      padding: 0;
      > a {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        @include respond-to("small-device") {
          h3 {
            font-size: 18px;
          }
        }
      }
      img {
        max-width: 100px;
        margin-right: 12px;
      }
    }
  }

  .archive-type-calendario {
    display: block;

    ul.archive-items-list li {
      width: 100%;
    }
  }
}

.pluri-year-title {
  font-size: 2.4rem;
  font-weight: 700;
  border-bottom: 1px solid black;
  margin-bottom: 32px;
}

.pluri-cursos-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  .archive-item {
    padding-top: 0;
    margin: 0;
  }
  .archive-entry-content {
    h2 {
      font-size: 1.4rem;
      margin-top: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.pluri-year {
  margin-bottom: 36px;
  &:last-of-type {
    border-bottom: none;
  }
}

.pluri_archive-items {
  border-bottom: 1px solid black;
  margin-bottom: 32px;
  padding-bottom: 32px;
  h2 {
    font-size: 28px;
  }
  > div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 24px;
    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
    }
    article {
      h3 {
        a {
          color: black;
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
            font-style: italic;
          }
        }
      }
    }
  }

  &.pluri_archive-calendario {
    > div {
      display: flex;
      flex-direction: column;
    }

    article {
      display: flex;
      width: 100%;
      height: 120px;
      img {
        width: 120px;
        height: 120px;
        margin-right: 12px;
      }
    }
  }
}

.archive-post-thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;

  img {
    margin-right: 0;
    width: auto;
    height: auto;
    max-height: 300px;
    min-width: 300px;
  }

  @include respond-to("small-device") {
    width: 100%;
    height: auto;
  }
}

article.archive-item.past-course {
  opacity: 0.6;
  img {
    filter: grayscale(0.8);
  }
}
