.entry-info {
	margin-bottom: 12px;
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: underline;
		}
	}
}

.entry-header {
	h1 {
		margin-bottom: 0;
		font-weight: bold;
	}
	margin-bottom: 36px;
}

.entry-content {
	line-height: 1.4em;

	h1, h2, h3, h4 {
		font-weight: bold;
	}

	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 36px;
		margin-top: 2em;
	}

	h3 {
		font-size: 32px;
	}

	a {
		color: black;
		background-color: rgba(255, 255, 0, 0.6);
		&:hover {
			//text-decoration: none;
			background-color: rgba(255, 255, 0, 0.8);
		}
	}

	p {
		margin-bottom: 1.25em;
	}

	ol, ul {
		margin-left: 48px;
		li {
			margin-bottom: 12px;
			ol, ul {
				margin-top: 24px;
				li {
					margin-bottom: 12px;
				}
			}
		}
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
	}

	img {
		margin: 12px 0;
	}

	.wp-caption {
		border: 0;
		a {
			background-color: transparent;
		}
		.wp-caption-text {
			font-size: 16px;
		}
	}

}

body.single,
body.page {
	.entry-content {
		max-width: 800px;
		float: left;

		h1, h2, h3 {
			line-height: 1.1em;
		}
		

		@include respond-to("medium-device") {
			max-width: 480px;
		}

		h1:nth-of-type(1n),
		h2:nth-of-type(1n)
		 {
		 	margin-top: 0;
		}

		@include respond-to("small-device") {
			h1 {
				font-size: 26px;
			}

			h2 {
				font-size: 24px;
			}

			h3 {
				font-size: 20px;
			}
		}
	}

	.image-wrapper, .sidebar-right {
		float: right;
		width: 400px;

		@include respond-to("medium-device") {
			width: 200px;
		}

		@include respond-to("small-device") {
			float: none;
			width: auto;
		}
		img {
			width: 100%;
			height: auto;
		}

		.institutos-terms {
			a {
				display: block;
				padding: 12px;
				margin: 5px 0;
				border: 1px solid black;
			}
		}

		.tag-terms {
			a {
				display: inline-block;
				padding: 12px;
				&:nth-of-type(1n) {
					padding-left: 0;
				}
			}
		}

		.entry-info {
			h3 {
				font-weight: bold;
				font-size: 24px;
				margin: 1.5em 0 1em 0;
			}
		}
	}
}

@include respond-to("small-device") {
	.entry-content {
		max-width: 100%;
		.wp-caption {
			max-width: calc(100vw - $horizontal_padding);
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}