header.site-header {
	padding: 0 $horizontal_padding;
	position: relative;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	height: $header_height;
	z-index: 1000;
	.site-header-wrapper {
		max-width: $max-site-width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	img {
		margin: 12px 0 5px 0;
		width: 160px;
	}
	@include respond-to("small-device") {
		padding: 0;
		height: $mobile_header_height;
		position: fixed;
		background-color: white;
		width: 100%;
		img {
			//max-height: $header_height - 24px;
			margin: 12px 12px 12px 24px;
			width: 100px;
		}
	}
	h1.site-title {
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0;

	}

	#carbon {
		position: absolute;
		font-size: 14px;
		padding: 12px;
		right: $horizontal_padding;
		

		@include respond-to("medium-device") {
			right: 130px;
		}

		@include respond-to("small-device") {
			right: 90px;
		}
	}
}

