
body.page-template-page-institutos {
	
	main {
		padding-top: 0;
		@include fullwidth;	
	}
}

.nav-institutos {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;

	@include respond-to("small-device") {
		//margin: -24px -24px 0 -24px;
	}
}

.instituto {
	border-bottom: 1px solid black;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 12px;
	color: black;
	height: 115px - 24px;
	width: calc(50% - 25px);

	&:nth-child(odd) {
		border-right: 1px solid black;
		@include respond-to("small-device") { 
			border-right: 0;
		}
		h2 {
			padding-left: $horizontal_padding - 12px;
			@include respond-to("small-device") {
				padding-left: 12px;
			}
		}
	}

	h2 {
		font-size: 24px;
		line-height: 1.2em;
		font-weight: bold;
		padding: 12px;
	}
	@include respond-to("small-device") {
		width: 100%;
		margin: 6px 0;
		border-right: 0;
		h2 {
			padding: 12px;
		}
	}
	&:hover,
	&.current {
		text-decoration: underline;
	}

	&.current {
		pointer-events: none;
		cursor: default;
		text-decoration: underline;
		@include respond-to("small-device") {
			padding: 12px;
		}
	}
}

.inside {
	.nav-institutos {
		width: calc($sidebar_width +  $horizontal_padding);
		border-top: 1px solid black;
		height: calc(100vh - $header_height);
		position: fixed;
		right: 0;
		top: $header_height;
		border-left: 1px solid black;
		display: block;
		.instituto {
			width: 100%;
			border-right: 0;
			height: auto;
			text-align: left;
			h2 {
				padding-right: $horizontal_padding;
				padding-left: 12px;
				margin-bottom: 0;
			}
		}
	}
}

@include respond-to("small-device") {
	body main.with-institutos-nav {
		padding: $mobile_horizontal_padding;
	}

	.inside {
		.nav-institutos {
			width: 100%;
			position: relative;
			height: auto;
			border-left: 0;
			margin: 0;
			.instituto {
				padding-right: 0;
				border-right: 0;
				border-left: 0;
				h2 {
					padding-right: 12px;
				}
			}
		}
	}
}

body.admin-bar {
	&.inside {
		.nav-institutos {
			top: 147px;
		}
	}
}