
body.page-template-page-institutos {
	main {
		padding-top: 0;
		width: 100%;
		max-width: 100%;
		@include fullwidth;
		padding-right: 0;
	}
}

.nav-institutos {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: $max-site-width;

	@media screen and (min-width:1400px) {
		margin: 0 auto;
		border-left: 1px solid black;
	}

	@include respond-to("small-device") {
		//margin: -24px -24px 0 -24px;
	}
}

.instituto {
	border-bottom: 1px solid black;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 10px;
	color: black;
	height: 115px - 24px;
	width: calc(50% - 21px);
	background-color: white;

	&:nth-child(odd) {
		border-right: 1px solid black;
		@include respond-to("small-device") { 
			border-right: 0;
		}
		h2 {
			padding-left: $horizontal_padding - 12px;
			@include respond-to("small-device") {
				padding-left: 12px;
			}
		}
	}
	&:nth-child(even) {
		@media screen and (min-width: 1400px) {
			border-right: 1px solid black;
		}
		
	}

	h2 {
		font-size: 24px;
		line-height: 1.2em;
		font-weight: bold;
		padding: 12px;
	}
	@include respond-to("small-device") {
		width: 100%;
		margin: 6px 0;
		border-right: 0;
		h2 {
			padding: 12px;
		}
	}
	&:hover
	{
		text-decoration: underline;
	}

	&.current {
		pointer-events: none;
		background-color: black !important;
		cursor: default;
		text-decoration: underline;
		@include respond-to("small-device") {
			padding: 12px;
		}
	}
}

.inside {
	.nav-institutos {
		@include respond-to("xl-device") {
			&:after {
				content: "";
				display: block;
				width: calc($sidebar_width +  $horizontal_padding);
				height: calc(100vh + $header_height);
				background-color: white;
				border-left: 1px solid black;
				margin: 24px 0;
				position: fixed;
				top: -$header_height;
				z-index: -2;
				right: 0;
			}
		}
		@include respond-to("small-device") {
			&:after {
				display: none;
			}
			
		}
		width: calc($sidebar_width +  $horizontal_padding);
		z-index: 20;
		border-top: 1px solid black;
		height: calc(100vh - $header_height);
		position: absolute;
		right: 0;
		top: $header_height;
		//border-left: 1px solid black;
		display: block;
		.instituto {
			width: calc(100% - 22px);
			border-right: 0;
			border-left: 1px solid black;
			height: auto;
			text-align: left;
			border-left: 0;
			background-color: white;
			h2 {
				padding-right: $horizontal_padding;
				padding-left: 12px;
				margin-bottom: 0;
			}
		}
	}
}

@include respond-to("small-device") {
	body main.with-institutos-nav
	{
		padding: 120px $mobile_horizontal_padding 24px $mobile_horizontal_padding;
	}

	body.page-template-page-institutos-php main {
		padding: 120px 0 0 0;
		.nav-institutos {
			margin-right: -$mobile_horizontal_padding;
			.instituto {
				padding-left: 24px;
			}
		}
	}

	.inside {
		.nav-institutos {
			width: 100%;
			position: relative;
			height: auto;
			border-left: 0;
			margin: 0 0 220px 0;
			.instituto {
				padding-right: 0;
				border-right: 0;
				border-left: 0;
				width: calc(100% - 12px);
				h2 {
					padding-right: 12px;
				}
			}
		}
	}
}

body.admin-bar {
	&.inside {
		.nav-institutos {
			top: 147px;
		}
	}
}

.taxonomy-items {
	h1 {
		font-size: 24px;
		font-weight: bold;
		border-bottom: 1px solid black;
		padding-bottom: 24px;
		@include fullwidth;
	}
}

ul.archive-items-list {
	display: flex;
	flex-wrap: wrap;
	li {
		margin: 12px;
		width: calc(50% - 24px);
		img {
			max-width: 100%;
			height: auto;
		}

		h3 {
			font-size: 24px;
		}
		

		@include respond-to("small-device") {
			width: 100%;
			margin: 12px 0;
		}
	}
}

.home .nav-institutos {
	//border-top: 1px solid black;
}

.list-taxonomy-items.archive-type-calendario ul li {
	margin-bottom: 24px;
}