.nav-institutos {
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to("small-device") {
		flex-wrap: wrap;
	}
}

.instituto {
	padding: 12px;
	border: 1px solid white;
	margin: 6px 6px 6px 0;
	height: 120px;
	text-decoration: underline;
	@include respond-to("small-device") {
		height: auto;
		padding: 0;
	}
	h2 {
		font-size: 22px;
		line-height: 1.4em;
	}
	@include respond-to("small-device") {
		width: 100%;
		margin: 6px 0;
	}
	&:hover,
	&.current {
		border-color: blue;
		text-decoration: none;
	}

	&.current {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
		color: black;
	}
}
