nav {
	background-color: white;
	padding: 12px 0;
	margin-bottom: 24px;
	li {
		margin-bottom: 12px;
		ul {
			margin-left: 16px;
			margin-top: 12px;
		}
	}
	a {
		color: blue;
		&:hover {
			text-decoration: none;
		}
	}
	li.current-menu-item {
		a {
			color: #000;
			text-decoration: none;
		}
	}
}

#toggle-menu {
	&:hover {
		text-decoration: none;
	}
}
