//Sass Base CSS

@import "reset.scss";
@import "./mixins/typography_scale.scss";
@import "./mixins/breakpoints.scss";

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

$header_height: 115px;
$mobile_header_height: 80px;

$large_sidebar_width: 15%;
$medium_sidebar_width: 30%;
$sidebar_width: 30%;


//Borde general de la web en escritorio
$horizontal_padding: 60px;
$mobile_horizontal_padding: 24px;
$large_horizontal_padding: 120px;







//Reset tipográfico
:root {
	--system-ui: "Calibri", "Roboto", "Helvetica", system-ui, "Arial",
		"Liberation Sans", sans-serif;
}

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//Font-stack genérico
body {
	font-family: var(--system-ui);
}

//Por alguna razón el strong no cambia el peso en este stack tipográfico
strong {
	font-weight: bold;
}

//Títulos de todo el sitio
@import "headings.scss";

//Estilos necesarios para WordPress
@import "wp.scss";

//Layout básico
@import "header.scss";
@import "menu.scss";
@import "content.scss";

//Páginas de archivo
@import "archive.scss";

//Secciones y tipos de contenido
@import "institutos.scss";
@import "agenda.scss";

//Cosas aún sin clasificar
main {
	padding: 120px $horizontal_padding;
	//max-width: 1200px;
	@include respond-to("small-device") {
		padding: 24px $mobile_horizontal_padding;
	}

	&.with-institutos-nav {
		padding: 120px calc($horizontal_padding + 24px + $sidebar_width) 120px $horizontal_padding;
	}
}



.home main {
	padding: 0;
	@include respond-to("small-device") {
		padding: 0 24px;
	}
}

.hidden {
	display: none;
}

.site-footer {
	text-align: left;
	font-size: 16px;
	padding: 24px $horizontal_padding;
	@include respond-to("small-device") {
		padding: 24px;
	}
}

.enconstruccion {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.8);
	right: 0;
	bottom: 0;
	padding: 6px;
	font-size: 12px;
}
